<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>

<br>
<%= link_to raw('&laquo; Back'), articles_path, :class => 'btn btn-primary' %>
<%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_article_path(@article), :class => 'btn btn-inverse' %>


